@model ForgingAhead.Models.Character

<div class="col-md-5 bordered-div"
     <p>[@Model.Id]</p><h4>@Model.Name</h4>
     <a asp-controller="Character" asp-action="Edit" asp-route-id="@Model.Id">(Edit)</a><br>
     <label asp-for="IsActive"></label>
     <p class="form-control-static">@Model.IsActive</p>
</div>