@model ForgingAhead.Models.Character

<div class="col-md-5 bordered-div"
     <h4>@Model.Name</h4>
     <hr/>
     <label asp-for="IsActive"></label>
     <p class="form-control-static">@Model.IsActive</p>
</div>