@model ForgingAhead.Models.Character
<h2> Hello This is Character/Creare </h2>
<form asp-action="Create" asp-controller="Character">
      <label asp-for="Name"></label>
      <input asp-for="Name"/>
      <input type="submit"/>
</form>
